# Importing Needed packages

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import pylab as pl
import numpy as np
%matplotlib inline

# Downloading Data

In [149]:
df = pd.read_csv('data.csv')

# take a look at the dataset
df.head()

,Area,Room,Parking,Warehouse,Elevator,Address,Price,Price(USD)
0,63,1,True,True,True,Shahran,1.850000e+09,61666.67
1,60,1,True,True,True,Shahran,1.850000e+09,61666.67
2,79,2,True,True,True,Pardis,5.500000e+08,18333.33
3,95,2,True,True,True,Shahrake Qods,9.025000e+08,30083.33
4,123,2,True,True,True,Shahrake Gharb,7.000000e+09,233333.33

## Data Exploration

In [150]:
# summarize the data
df.describe()

              Room         Price    Price(USD)
count  3479.000000  3.479000e+03  3.479000e+03
mean      2.079908  5.359023e+09  1.786341e+05
std       0.758275  8.099935e+09  2.699978e+05
min       0.000000  3.600000e+06  1.200000e+02
25%       2.000000  1.418250e+09  4.727500e+04
50%       2.000000  2.900000e+09  9.666667e+04
75%       2.000000  6.000000e+09  2.000000e+05
max       5.000000  9.240000e+10  3.080000e+06

## Trim whitespace from ends of each value across all series in dataframem

In [106]:
def trim_all_columns(df):
    trim_strings = lambda x: x.strip() if isinstance(x, str) else x
    return df.applymap(trim_strings)

## Clear Data

In [151]:
df = trim_all_columns(df)

df['Address'].isnull()
df = df[~df['Address'].isnull()]

df['Area'] = pd.to_numeric(df['Area'], errors='coerce')
df = df[df['Area'] < 999]

df.describe()

              Area         Room         Price    Price(USD)
count  3450.000000  3450.000000  3.450000e+03  3.450000e+03
mean    106.917391     2.081159  5.375563e+09  1.791854e+05
std      69.550976     0.760216  8.125918e+09  2.708639e+05
min      30.000000     0.000000  3.600000e+06  1.200000e+02
25%      69.000000     2.000000  1.419250e+09  4.730833e+04
50%      90.000000     2.000000  2.900000e+09  9.666667e+04
75%     120.000000     2.000000  6.000000e+09  2.000000e+05
max     929.000000     5.000000  9.240000e+10  3.080000e+06